*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flexbox($dir:row){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
}
#about-hero{
    @include flexbox();
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url('https://images.unsplash.com/photo-1651400035147-bebd9f0d1a6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') center no-repeat;
    background-size: cover;
    .about-container{
        @include flexbox();
        h1{
            color: #fff;
        }
    }
}